* {
    margin: 0;
    padding: 0;
}

/* common css Start */
.container {
    width: 1290px;
    margin: 0 auto;
}

.box {
    display: flex;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* common css End */


/* Navbar css Start */
nav {
    background: #FAE3B6;
    padding: 47px 0px;
}

nav .box {
    align-items: center;
}

.logo {
    width: 22%;
}

.menu {
    width: 50%;

}

.menu ul {
    display: flex;
    column-gap: 59px;
    cursor: pointer;
}

.menu ul li {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", sans-serif;
}

.button {
    width: 28%;
    text-align: right;
}

.button a {
    background: #FDBB57;
    padding: 10px 15px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid transparent;
    transition: .5s;
}

.button a:first-child {
    margin-right: 5px;
}

.button a:hover {
    background: #FAE3B6;
    border-color: rgba(0, 0, 0, 0.10);
    box-shadow: 1px 8px 9px -4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 8px 9px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 8px 9px -4px rgba(0, 0, 0, 0.15);

}

/* Navbar css End */


/* Banner css Start */
.banner {
    background: #FAE3B6;
    padding-top: 117px;
    padding-bottom: 102px;
}

.bannercontent {
    width: 50%;

}

.bannerimage {
    width: 50%;

}

.banner h1 {
    font-size: 64px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", sans-serif;
    width: 538px;
}

.banner p {
    font-size: 22px;
    font-weight: 400;
    color: black;
    font-family: "Poppins", sans-serif;
    padding-top: 38px;
    padding-bottom: 76px;
    width: 531px;
}

.banner a {
    background: black;
    color: white;
    padding: 25px 91px;
    display: inline-block;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
    transition: .5s;
}

.banner a:hover {
    background: #FAE3B6;
    border-color: rgba(0, 0, 0, 0.10);
    box-shadow: 1px 8px 9px -4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 8px 9px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 8px 9px -4px rgba(0, 0, 0, 0.15);
    color: black;


}

/* Banner css End */
/* Collection css start */
.collection{
    padding-top: 217px;
    padding-bottom: 188px;
}

.collection h2{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    color: black;
    font-family: "Frank Ruhl Libre", serif;

}
.collection .box{
    justify-content: space-between;
    padding-top: 108px;
}

.collection .items{
    width: 349px;
    height: 402px;
    position: relative;
    overflow: hidden;
   
}
.collection .items img{
    width: 100%;
    height: 100%;
}
.collection .overlay{
    width: 100%;
    height: 100%;
    background-color:transparent;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 20px;
    transition: .5s;
  
}
.collection .items:hover .overlay{
    top: 0;
}
.collection .items .overlay a{
    background-color: white;
    padding: 9px 108px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 300px;
    left: 17px;

}

/* collection css End */